@charset "UTF-8";

	
table#cm-board {
	width: 70%;
    margin: 0 auto;
}

table#free-board {
	width: 70%;
    margin: 0 auto;
}

table#knowhow-board {
	width: 70%;
    margin: 0 auto;
}

table#photo-board {
	width: 70%;
    margin: 0 auto;
}

table#sg-board {
	width: 70%;
    margin: 0 auto;
}

th#small_hot {
	margin: 0 auto;
	padding-bottom : 40px;
	font-size: 28px;
}

th#count {
	padding-top : 40px;
	padding-bottom : 40px;
}

input#btn-add {
	width : 120px;
	height : 40px;
    font-size : 15px;
}

.pet {
	width : 180px;
	height : 180px;
}

.plus {
	width : 180px;
	height : 180px;
}

.submenu {
	font-size:25px;
}