@font-face {
    font-family: 'Goyang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Goyang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dovemayo-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Dovemayo-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@charset "UTF-8";
/*  *{font-family: 'Goyang';}  */  /*  고양(이)체  */
header, footer{font-family: 'Dovemayo-Medium'}   /* 둘기마요체 */
body{position: relative; min-height: 100%; margin:0;}
#container{position: relative; min-height: 100%;}
#content{position: relative; min-height: 100%; }
/*------------------------------------------------- header ------------------------------------------------ */
a{text-decoration: none;}
.bx-viewport ul{list-style: none; margin: 0; padding-inline: 0; margin-block: 0;}
.header-cont{display:flex; flex-direction: column;}
.header-member-menu-ul{display:flex; flex-direction: row; justify-content: space-evenly; align-items: center; height: 20px; }
.main-logo{width:5rem; height:5rem;}
.menu-logo{width:3.5rem; height:3.5rem;}
.header-top{width: 100%;  background-color: #FF5B00;}z
.header-contents{width: 85%; margin: 0 auto; }
.header-menu-ul{display:flex; flex-direction: row; justify-content: space-between; align-items: center; padding: 0;}
.sub-menu{display:none;}
.header-menu-li a{display:flex; flex-direction: row; align-items: center; color:#FFF;}
.header-menu-li h2{font-size: 2rem;}
.header-title{font-size: 3.5rem; font-weight: bold;}
.header-right-nav{   margin-left: 75%;}
.header-right-nav-wrapper{height: 52px; background-color: #FF9900; }
 
.header-right-nav a{color: #FFF; font-weight: bold;}
.sign-out-btn {font-family: 'Dovemayo-Medium'; font-size: 1rem; font-weight: bold; border: none; color: #fff; background-color: #FF9900; cursor:pointer; }
.header-member-menu-ul span:before, .header-member-menu-ul a:before { content: ""; display: inline-block;  margin: auto;  width: 0;  height: 100%; vertical-align: bottom;}
.admin-sub-manage-list{width: 4rem;  height: 3rem; display: flex; flex-direction: column; position: absolute;
    padding: 0.3rem; background-color: #FFF; border-radius: 0.3rem; align-items: center;  justify-content: center;}
.admin-submenu-hidden{visibility: hidden;}
.admin-submenu-visible{visibility: visible;}
#admin-manage-list{color: #FFF; font-weight: bold; cursor:pointer;}
.admin-submenu-li{margin: 0.25rem 0;}
#command{margin: 0;}
/*------------------------------------------------- carousel ------------------------------------------------ */
#main-visual{width: 1890px; height: 380px; padding: 0;}
.bx-controls-wrapper{width: 1890px; margin-top: 0.5rem;}
.bx-controls {display: flex; flex-direction: row; align-items: center;	width: 20rem; height: 3.5rem; padding: 0; margin: 0 auto;}
.bx-wrapper {position: relative; max-width: 100%; margin: auto; padding: 0;}
.bx-viewport {position: relative; overflow: hidden; height: 380px;padding: 0;}
.slider-box {display: flex; transform: translate(0, 0);	width: 1890px;	height: 380px; padding: 0; margin: 0;}
.visual {flex: 0 0 100%; list-style: none; height: 380px; padding: 0;}
.visual-image {display: block; width: 1890px; height: 380px; object-fit: cover;}
.bx-prev, .bx-next  {background-size: 100% 100%; background-color: #fff; border: none; width: 2rem;	height: 2rem;}
.bx-prev:hover, .bx-next:hover  { transform: scale(1.2);}	
.paginations {display:flex;	align-items: center; width: 15.5rem; height: 2rem; border: none;} 
.pagination {display: inline-block;	width: 2rem; height: 2rem; background-size: 100% 100%; margin-left: 15px; border: none;}
.pagination.active, .pagination:hover {transform: scale(1.3);}
.pagination:not(:last-child) {margin-right: 0.3rem;}
#visual-image1, #visual-image2, #visual-image3, #visual-image4, #visual-image5{background-size: 100% 100%;}


/*------------------------------------------------- skyScraper ------------------------------------------------ */
/*********** side menu -sky-scraper*********/
#skyScraper { position: fixed; top: 45%;  left: 93%;  width: 7rem;  z-index: 102;}
.myView { width: 7rem;  border: 1px solid #e5e5e5; letter-spacing: -1.2px;  box-sizing: border-box; border-radius: 4px;  background: #fff;  padding: 0;}
.myViewTit:first-child {border-top: none;}
.count{content: ""; height: 100%; display: inline-block;  vertical-align: middle;}
.myViewTit { padding: 5px;  border-top: 1px solid #d3d3d5;  cursor: pointer; position: relative;  }
.myViewTit a, .myViewTit.on a{font-size: 1rem; color: #000;}
a {text-decoration: none !important;}
.directLink{margin: 0.5rem 0; text-align: center; border-radius: 4px; border: 1px solid #e5e5e5; background: #fff; padding: 0;  width: 7rem; height: 5rem;}
.talk{display:flex; flex-direction: column;  justify-content: space-around;  align-items: center;  flex-wrap: nowrap; width: 7rem; height: 5rem; margin: 0;}
.count {float: right; color: #f5232a;}
.itemList {display: none; padding: 0 0 6px; position: relative; background: #fff; border-radius: 0 0 4px 4px; min-height: 216px;}
.itemList ul {display: block; height: 216px;}
.itemList ul li {position: relative; margin: 0 0 2px 0; text-align: center;}
.itemList ul li > a { display: inline-block;  text-align: center;  width: 70px; height: 70px; overflow: hidden; border-radius: 3px;}
.itemList ul li a img { width: 70px; height: 70px; display: block; border-radius: 4px; overflow: hidden;}
.itemList ul li > a .mOverWrap { 
	display: block;   position: absolute; top: 0; left: -156px; width: 230px; height: 70px; padding: 0;
    text-align: left; border: 1px solid #515151; border-radius: 3px; box-sizing: border-box; letter-spacing: 0; overflow: hidden;
}
.itemList ul li > a .mOverWrap .mOverTxtArea {width: 158px; height: 68px; background: #fff; box-sizing: border-box; padding: 16px 12px;}
.itemList ul li > a .mOverWrap .mOverTit {text-overflow: ellipsis; overflow: hidden; white-space: nowrap;font-size: 12px;
    color: #2d2d2d; line-height: 18px;}
.itemList ul li > a .mOverWrap .mOverPrc {margin: 1px 0 0 0;font-size: 11px; color: #000;}
.itemList ul li > a .mOverWrap .mOverPrc .fontMont { display: inline-block; font-size: 13px; line-height: 1em; font-weight: bold; margin-right: 1px;}
li:first-child {border-top: none;}
li, menu {list-style: none;}
.directLink div a {display: block; height: 100%; padding: 42px 5px 8px; color: #555; font-size: 11px; line-height: 20px;}
.itemList .skyNoData {display: block; width: 7em; height: 126px; padding: 4rem 0 0 0; text-align: center; font-size: 1rem;
    color: #6a747c; line-height: inherit; vertical-align: top; margin: 0;}
.NoRecent{padding: 0; margin: 0 auto;}
.talk-img-wrapper{font-size: 0.8rem; margin: 0; color: #FF9900;}
#sweet-talk-btn{padding: 0; font-size: 1.1rem; font-weight: bold; color: #FF9900; }
.talk-img-cont{padding: 0; }
.cs-talk-wrapper{padding: 0.16rem 0; border: 2px solid #FF9900; border-radius: 4px; height: 1.45rem; width: 6.9rem; margin: 0.3rem 0 0; cursor:pointer;}
#cs-talk-img-wrapper:before, #cs-talt-text:before {content: ""; height: 100%; display: inline-block;  vertical-align: middle; text-align:center;}
#cs-talk-img{width: 1.2rem; height: 1.2rem;}
#cs-talk-text{font-size: 1rem; font-weight: bold; text-align: center; vertical-align: top; color: #FF5B00;}
.cs-talk-wrapper:hover, .cs-talk-wrapper:hover #cs-talk-text{border: 2px solid #FF9900; background-color: #FF9900; color:#FFF;}
.skyBtnArea{background-color: #FFF;}
.btn-seperator{height: 2.1rem; font-size: 2rem; text-align: center; color: #FF9900; vertical-align: middle;}
.top-btn, .down-btn{width: 2rem; height: 2rem; padding: 0.1rem;}
.top-btn img, .down-btn img{width: 2rem; height: 2rem;}
.move-btn-wrapper{display:flex; flex-direction: row; justify-content: center; align-items: center; width:100%; margin: 0 auto; border: 1px solid #e5e5e5; border-radius: 0.2rem;}
 
/*------------------------------------------------- footer ------------------------------------------------ */
footer{width: 100%; height: 10rem; bottom: 0; position: relative; background-color: #CA965C; color: #FFE3A9; }
.footer-cont{width: 70%; display:flex; flex-direction: row; justify-content: space-around; margin: 0 auto;}
.footer-right{width: 45%;}
.footer-link{display:flex; flex-direction: row; justify-content: space-evenly;  padding: 0;}
.footer-link a{color:#FFE3A9; font-weight: bold;}
.footer-sns-wrapper{display:flex; justify-content: flex-end; width: 100%;}
.footer-sns{width: 45%; display:flex; flex-direction: row; justify-content: space-evenly; padding: 0;}
.sns-img{width: 2.3rem; height: 2.3rem;}