@charset "UTF-8";

body{font-family: 'Dovemayo-Medium'}

h3{font-size:35px;}
section{margin-left:20.7rem;}

.cartlists{margin-bottom:1.7rem;}

.cart_no{font-size:17px;}
.cart_product_no, .cart_product_price, .cart_product_qty, .cart_product_name{font-size:19px;}
.cart_product_total_price{font-weight:bold; font-size:22px;}


.cart-del{font-size: 1.2rem; color: #fff; font-weight: bold;   padding:0.9rem 1.7rem 0.9rem 1.7rem; margin-top:1rem;
display: inline-flex;  text-align: center;  color: white; background-color: #FF9900;border-radius: 0.2rem;
border:none;font-family: 'Dovemayo-Medium' ;}
.cart-del:hover{cursor:pointer; background-color: #f7ac3b;}