@charset "UTF-8";
@font-face {
    font-family: 'Goyang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Goyang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dovemayo-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Dovemayo-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{font-family: 'Dovemayo-Medium'}
.content{width:65%; margin:0 auto;}
.img-content{width:80%; margin:0 auto;}
.imgg{width:100%; height:780px;}
.img_des{margin-right:5rem;}
.product_name{font-size:1.7rem;}
.product_price{font-size: 1.2rem;margin-top:1rem;}
.product_des{ font-size: 1.1rem;margin-top:1rem;margin-bottom:2rem;}

.insert-update-btn{font-size: 1.2rem; color: #fff; font-weight: bold;   padding:0.9rem; margin-top:1rem;
display: inline-flex;  text-align: center; margin-left:4.6rem; color: white; background-color: #CA965C; border-radius: 0.6rem;}
.insert-update-btn:hover{cursor:pointer; background-color: #c48036;}


.btn-delete{font-size: 1.3rem; font-weight: bold;   padding:0.7rem; margin-top:1rem;font-family: 'Dovemayo-Medium'; 
text-align: center; margin-left:1rem; margin-top:2.3rem;color: white; background-color: #CA965C; border-radius: 0.6rem;
border: none;}
.btn-delete:hover{cursor:pointer; background-color: #c48036;}


.cart_and_buy{margin-left:37rem; margin-top:1.3rem; margin-bottom:1rem;}

.add-cart{font-size: 1.2rem; color: #fff; font-weight: bold;   padding:0.2rem; margin-top:1rem;
display: inline-flex;  text-align: center; color: white; background-color: #FF9900;border-radius: 0.2rem;}
.add-cart:hover{cursor:pointer; background-color: #f7ac3b;}

.pay-product{font-size: 1.2rem; color: #fff; font-weight: bold;   padding:0.9rem 2.7rem 0.9rem 2.7rem; margin-top:1rem;
display: inline-flex;  text-align: center;  color: white; background-color: #FF9900;border-radius: 0.2rem;}
.pay-product:hover{cursor:pointer; background-color: #f7ac3b;}

.product_des{width:420px; height:420px;}

#insertCart{font-size: 1.2rem; color: #fff; font-weight: bold;   padding:0.9rem 2.7rem 0.9rem 2.7rem; margin-top:1rem;
display: inline-flex;  text-align: center;  color: white; background-color: #FF9900;border-radius: 0.2rem;
border:none;font-family: 'Dovemayo-Medium' ;}
#insertCart:hover{cursor:pointer; background-color: #f7ac3b;}

#insertOrder{font-size: 1.2rem; color: #fff; font-weight: bold;   padding:0.9rem 2.7rem 0.9rem 2.7rem; margin-top:1rem;
display: inline-flex;  text-align: center;  color: white; background-color: #FF9900;border-radius: 0.2rem;
border:none;font-family: 'Dovemayo-Medium' ;}
#insertOrder:hover{cursor:pointer; background-color: #f7ac3b;}
