@charset "UTF-8";
@font-face {
    font-family: 'Goyang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Goyang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dovemayo-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Dovemayo-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


#adminNoticeList-container{width: 75%; margin: 0 auto;}
#title-wrapper{width: 14%; margin: 0 auto;}
#cont-title{
	font-size: 3rem;
}
body{font-family: 'Dovemayo-Medium'}   /* 둘기마요체 */
/*      article{
     margin-left:522px;
     } */
     .category-tab{
     position: sticky;
     }
      body {
        position: relative;
        height: 100%;
      }

table {
  border-collapse: collapse;
  border-spacing: 0;
}
section.notice-container {
  padding: 80px 0;
}

.board-table {
  font-size: 20px;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.board-table a {
  color: #333;
  display: inline-block;
  line-height: 1.4;
  word-break: break-all;
  vertical-align: middle;
}
.board-table a:hover {
  text-decoration: underline;
}
.board-table th {
  text-align: center;
}

.board-table .th-num {
  width: 100px;
  text-align: center;
}

.board-table .th-date {
  width: 200px;
}

.board-table th, .board-table td {
  padding: 14px 0;
}

.board-table tbody td {
  border-top: 1px solid #e7e7e7;
  text-align: center;
}

.board-table tbody th {
  padding-left: 28px;
  padding-right: 14px;
  border-top: 1px solid #e7e7e7;
  text-align: left;
}

.board-table tbody th p{
  display: none;
}

.notice-role{border: 1px solid #34C5F0; border-radius: 0.3rem;}
#pagebar{display:flex; justify-content: center; align-items: center; width: 30%; margin: 0 auto;}


.container {
  width: 1100px;
  margin: 0 auto;
}

.posting-pro-btn{font-size: 1.2rem; color: #fff; font-weight: bold;   padding:0.9rem; margin-top:1rem;
display: inline-flex;  text-align: center; margin-left:84.6rem; color: white; background-color: #CA965C; border-radius: 0.6rem;}
.posting-pro-btn:hover{cursor:pointer; background-color: #c48036;}