<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.petlab.store.model.dao.CartDao">

<select id="countCart" parameterType="Cart" resultType="int">
  		SELECT COUNT(*) FROM CART WHERE member_id= #{memberId} 
AND  product_count= #{productCount}
  	</select>
  	
 	<select id="CartList" parameterType="String" resultMap="cart">

SELECT (select sum(total_sum)from (select (p.product_price * c.product_count) total_sum, p.*, c.* 
from product p join cart c on p.product_no = c.product_no where c.member_id = 'sinsa')) total_sum, 
(p.product_price * c.product_count)product_sum, p.product_no,p.product_name, p.product_price, c.product_count, c.member_id
    FROM product p, cart c
    WHERE p.product_no = c.product_no AND c.member_id='sinsa'

    </select>


<insert id="insertCart" >
<!-- 		insert into
		cart (cart_no,product_no,member_id,product_count)
		values(
		seq_cart_no.nextval, #{productNo}, 'sinsa', #{productCount}+1) -->
		insert into cart(product_no,member_id,product_count)
		values(#{productNo},'sinsa',#{productCount}+1)
	</insert>


<delete id="deleteCart" parameterType="Cart">
		delete 
			from cart
			where
				product_no = #{productNo}
	</delete>

<delete id="deleteAllCart" parameterType="Cart">
		delete 
			from cart
			where member_id= 'sinsa'
	</delete>

	<update id="productCount" >
update cart
	set product_count = product_count + 1
	where member_id='sinsa' and product_no=#{productNo}
	</update>


	<select id="sameProduct" parameterType="hashmap"
												   resultType="int">
		select count(*)
		from cart
		where product_no=#{productNo} and member_id='sinsa'								   
	</select>




<resultMap id="cart" type="cart">
	<!-- 	<id column="cart_no" property="cartNo" /> -->
		<result column="product_no" property="productNo" />
		<result column="member_id" property="memberId" />
		<result column="product_count" property="productCount" />
		<result column="product_price" property="productPrice" />
	
	</resultMap>


</mapper>