

p, div, h1, h2, h3, h4, h5 { margin:0; padding:0; }
ul, li, dl, dt, dd { margin:0; padding:0; list-style:none; }

table { width:100%; border-collapse:collapse; }

/* Position */

.prel { position:relative; }
.pabs { position:absolute; }
.pfix { position:fixed; }


/* Float */

.flt, .pull-left { float:left !important; }
.frt, .pull-right { float:right !important; }


/* Center content blocks */

.bct, .center-block { display:block; margin-left:auto; margin-right:auto; }

/* display */

.dp-inblck {display: inline-block;}
.dp-flx {display: flex;}
.dp-flx-clmn {display: flex; flex-direction: column;}

.divCenter {
	display: flex;
	display: -webkit-flex; /* Safari 8 */
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap; /* Safari 8 */
	justify-content: center;
	-webkit-justify-content: center; /* Safari 8 */
}


/* Show/Hide */

.show {
  display:block !important;
}
.hidden {
  display:none !important;
}
.invisible {
  visibility:hidden;
}

/* Clearfix */

.clearfix:before, .clearfix:after { content:" "; display:table; }
.clearfix:after { clear:both; }
.clearfix { *zoom:1; }

/* Text align */

.tlt { text-align:left; }
.trt { text-align:right; }
.tct { text-align:center; }

.algn_cnt { align-items: center; }

.ellipsis { overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

.fnt_PrxmnvaReg {font-family: ProximaNovaRegular;}
.fnt_NtSnsCJKkr {font-family: NotoSansCJKkr;}
.fnt_SpqHnSns {font-family: SpoqaHanSans;}

/* Cursor */

.hand { cursor:pointer; }


/* Font */

.f8 { font-size:8px; /* 6pt */ }
.f9 { font-size:9px; /* 7pt */ }
.f10 { font-size:10px; }
.f11 { font-size:11px; /* 8pt */ }
.f12 { font-size:12px; /* 9pt */ }
.f13 { font-size:13px; /* 10pt */ }
.f14 { font-size:14px; }
.f15 { font-size:15px; }
.f16 { font-size:16px; /* 12pt */ }
.f17 { font-size:17px; }
.f18 { font-size:18px; }
.f19 { font-size:19px; }
.f20 { font-size:20px; /* 15pt */ }
.f21 { font-size:21px; /* 16pt */ }
.f22 { font-size:22px; }
.f23 { font-size:23px; }
.f24 { font-size:24px; }
.f25 { font-size:25px; }


/* Width */

.w5 { width:5px; }
.w10 { width:10px; }
.w11 { width:11px; }
.w12 { width:12px; }
.w13 { width:13px; }
.w14 { width:14px; }
.w15 { width:15px; }
.w20 { width:20px; }
.w25 { width:25px; }
.w30 { width:30px; }
.w35 { width:35px; }
.w40 { width:40px; }
.w45 { width:45px; }
.w50 { width:50px; }
.w55 { width:55px; }
.w60 { width:60px; }
.w65 { width:65px; }
.w70 { width:70px; }
.w75 { width:75px; }
.w80 { width:80px; }
.w85 { width:85px; }
.w90 { width:90px; }
.w95 { width:95px; }
.w100 { width:100px; }

.w105 { width:105px; }
.w110 { width:110px; }
.w115 { width:115px; }
.w120 { width:120px; }
.w125 { width:125px; }
.w130 { width:130px; }
.w135 { width:135px; }
.w140 { width:140px; }
.w145 { width:145px; }
.w150 { width:150px; }
.w155 { width:155px; }
.w160 { width:160px; }
.w165 { width:165px; }
.w170 { width:170px; }
.w175 { width:175px; }
.w180 { width:180px; }
.w185 { width:185px; }
.w190 { width:190px; }
.w195 { width:195px; }
.w200 { width:200px; }

.w205 { width:205px; }
.w210 { width:210px; }
.w215 { width:215px; }
.w220 { width:220px; }
.w225 { width:225px; }
.w230 { width:230px; }
.w235 { width:235px; }
.w240 { width:240px; }
.w245 { width:245px; }
.w250 { width:250px; }
.w255 { width:255px; }
.w260 { width:260px; }
.w265 { width:265px; }
.w270 { width:270px; }
.w275 { width:275px; }
.w280 { width:280px; }
.w285 { width:285px; }
.w290 { width:290px; }
.w295 { width:295px; }
.w300 { width:300px; }

.w305 { width:305px; }
.w310 { width:310px; }
.w315 { width:315px; }
.w320 { width:320px; }
.w325 { width:325px; }
.w330 { width:330px; }
.w335 { width:335px; }
.w340 { width:340px; }
.w345 { width:345px; }
.w350 { width:350px; }
.w355 { width:355px; }
.w360 { width:360px; }
.w365 { width:365px; }
.w370 { width:370px; }
.w375 { width:375px; }
.w380 { width:380px; }
.w385 { width:385px; }
.w390 { width:390px; }
.w395 { width:395px; }
.w400 { width:400px; }

.w405 { width:405px; }
.w410 { width:410px; }
.w415 { width:415px; }
.w420 { width:420px; }
.w425 { width:425px; }
.w430 { width:430px; }
.w435 { width:435px; }
.w440 { width:440px; }
.w445 { width:445px; }
.w450 { width:450px; }
.w455 { width:455px; }
.w460 { width:460px; }
.w465 { width:465px; }
.w470 { width:470px; }
.w475 { width:475px; }
.w480 { width:480px; }
.w485 { width:485px; }
.w490 { width:490px; }
.w495 { width:495px; }
.w500 { width:500px; }

.w505 { width:505px; }
.w510 { width:510px; }
.w515 { width:515px; }
.w520 { width:520px; }
.w525 { width:525px; }
.w530 { width:530px; }
.w535 { width:535px; }
.w540 { width:540px; }
.w545 { width:545px; }
.w550 { width:550px; }
.w555 { width:555px; }
.w560 { width:560px; }
.w565 { width:565px; }
.w570 { width:570px; }
.w575 { width:575px; }
.w580 { width:580px; }
.w585 { width:585px; }
.w590 { width:590px; }
.w595 { width:595px; }
.w600 { width:600px; }

.w605 { width:605px; }
.w610 { width:610px; }
.w615 { width:615px; }
.w620 { width:620px; }
.w625 { width:625px; }
.w630 { width:630px; }
.w635 { width:635px; }
.w640 { width:640px; }
.w645 { width:645px; }
.w650 { width:650px; }
.w655 { width:655px; }
.w660 { width:660px; }
.w665 { width:665px; }
.w670 { width:670px; }
.w675 { width:675px; }
.w680 { width:680px; }
.w685 { width:685px; }
.w690 { width:690px; }
.w695 { width:695px; }
.w700 { width:700px; }

.w705 { width:705px; }
.w710 { width:710px; }
.w715 { width:715px; }
.w720 { width:720px; }
.w725 { width:725px; }
.w730 { width:730px; }
.w735 { width:735px; }
.w740 { width:740px; }
.w745 { width:745px; }
.w750 { width:750px; }
.w755 { width:755px; }
.w760 { width:760px; }
.w765 { width:765px; }
.w770 { width:770px; }
.w775 { width:775px; }
.w780 { width:780px; }
.w785 { width:785px; }
.w790 { width:790px; }
.w795 { width:795px; }
.w800 { width:800px; }

.w805 { width:805px; }
.w810 { width:810px; }
.w815 { width:815px; }
.w820 { width:820px; }
.w825 { width:825px; }
.w830 { width:830px; }
.w835 { width:835px; }
.w840 { width:840px; }
.w845 { width:845px; }
.w850 { width:850px; }
.w855 { width:855px; }
.w860 { width:860px; }
.w865 { width:865px; }
.w870 { width:870px; }
.w875 { width:875px; }
.w880 { width:880px; }
.w885 { width:885px; }
.w890 { width:890px; }
.w895 { width:895px; }
.w900 { width:900px; }

.w905 { width:905px; }
.w910 { width:910px; }
.w915 { width:915px; }
.w920 { width:920px; }
.w925 { width:925px; }
.w930 { width:930px; }
.w935 { width:935px; }
.w940 { width:940px; }
.w945 { width:945px; }
.w950 { width:950px; }
.w955 { width:955px; }
.w960 { width:960px; }
.w965 { width:965px; }
.w970 { width:970px; }
.w975 { width:975px; }
.w980 { width:980px; }
.w985 { width:985px; }
.w990 { width:990px; }
.w995 { width:995px; }
.w1000 { width:1000px; }
.w1100 { width:1100px; }
.w1200 { width:1200px; }

.wp10 { width:10%; }
.wp15 { width:15%; }
.wp20 { width:20%; }
.wp25 { width:25%; }
.wp30 { width:30%; }
.wp35 { width:35%; }
.wp40 { width:40%; }
.wp45 { width:45%; }
.wp50 { width:50%; }
.wp55 { width:55%; }
.wp60 { width:60%; }
.wp65 { width:65%; }
.wp70 { width:70%; }
.wp75 { width:75%; }
.wp80 { width:80%; }
.wp85 { width:85%; }
.wp90 { width:90%; }
.wp95 { width:95%; }
.wp100 { width:100%; }

/* Height */

.h5 { height:5px; }
.h10 { height:10px; }
.h15 { height:15px; }
.h20 { height:20px; }
.h25 { height:25px; }
.h30 { height:30px; }
.h35 { height:35px; }
.h40 { height:40px; }
.h45 { height:45px; }
.h50 { height:50px; }
.h55 { height:55px; }
.h60 { height:60px; }
.h65 { height:65px; }
.h70 { height:70px; }
.h75 { height:75px; }
.h80 { height:80px; }
.h85 { height:85px; }
.h90 { height:90px; }
.h95 { height:95px; }
.h100 { height:100px; }

.h105 { height:105px; }
.h110 { height:110px; }
.h115 { height:115px; }
.h120 { height:120px; }
.h125 { height:125px; }
.h130 { height:130px; }
.h135 { height:135px; }
.h140 { height:140px; }
.h145 { height:145px; }
.h150 { height:150px; }
.h155 { height:155px; }
.h160 { height:160px; }
.h165 { height:165px; }
.h170 { height:170px; }
.h175 { height:175px; }
.h180 { height:180px; }
.h185 { height:185px; }
.h190 { height:190px; }
.h195 { height:195px; }
.h200 { height:200px; }
.h210 { height:210px; }

.h205 { height:205px; }
.h210 { height:210px; }
.h215 { height:215px; }
.h220 { height:220px; }
.h225 { height:225px; }
.h230 { height:230px; }
.h235 { height:235px; }
.h240 { height:240px; }
.h245 { height:245px; }
.h250 { height:250px; }
.h255 { height:255px; }
.h260 { height:260px; }
.h265 { height:265px; }
.h270 { height:270px; }
.h275 { height:275px; }
.h280 { height:280px; }
.h285 { height:285px; }
.h290 { height:290px; }
.h295 { height:295px; }
.h300 { height:300px; }

.h305 { height:305px; }
.h310 { height:310px; }
.h315 { height:315px; }
.h320 { height:320px; }
.h325 { height:325px; }
.h330 { height:330px; }
.h335 { height:335px; }
.h340 { height:340px; }
.h345 { height:345px; }
.h350 { height:350px; }
.h355 { height:355px; }
.h360 { height:360px; }
.h365 { height:365px; }
.h370 { height:370px; }
.h375 { height:375px; }
.h380 { height:380px; }
.h385 { height:385px; }
.h390 { height:390px; }
.h395 { height:395px; }
.h400 { height:400px; }

.h405 { height:405px; }
.h410 { height:410px; }
.h415 { height:415px; }
.h420 { height:420px; }
.h425 { height:425px; }
.h430 { height:430px; }
.h435 { height:435px; }
.h440 { height:440px; }
.h445 { height:445px; }
.h450 { height:450px; }
.h455 { height:455px; }
.h460 { height:460px; }
.h465 { height:465px; }
.h470 { height:470px; }
.h475 { height:475px; }
.h480 { height:480px; }
.h485 { height:485px; }
.h490 { height:490px; }
.h495 { height:495px; }
.h500 { height:500px; }

.h505 { height:505px; }
.h510 { height:510px; }
.h515 { height:515px; }
.h520 { height:520px; }
.h525 { height:525px; }
.h530 { height:530px; }
.h535 { height:535px; }
.h540 { height:540px; }
.h545 { height:545px; }
.h550 { height:550px; }
.h555 { height:555px; }
.h560 { height:560px; }
.h565 { height:565px; }
.h570 { height:570px; }
.h575 { height:575px; }
.h580 { height:580px; }
.h585 { height:585px; }
.h590 { height:590px; }
.h595 { height:595px; }
.h600 { height:600px; }

.h605 { height:605px; }
.h610 { height:610px; }
.h615 { height:615px; }
.h620 { height:620px; }
.h625 { height:625px; }
.h630 { height:630px; }
.h635 { height:635px; }
.h640 { height:640px; }
.h645 { height:645px; }
.h650 { height:650px; }
.h655 { height:655px; }
.h660 { height:660px; }
.h665 { height:665px; }
.h670 { height:670px; }
.h675 { height:675px; }
.h680 { height:680px; }
.h685 { height:685px; }
.h690 { height:690px; }
.h695 { height:695px; }
.h700 { height:700px; }

.h705 { height:705px; }
.h710 { height:710px; }
.h715 { height:715px; }
.h720 { height:720px; }
.h725 { height:725px; }
.h730 { height:730px; }
.h735 { height:735px; }
.h740 { height:740px; }
.h745 { height:745px; }
.h750 { height:750px; }
.h755 { height:755px; }
.h760 { height:760px; }
.h765 { height:765px; }
.h770 { height:770px; }
.h775 { height:775px; }
.h780 { height:780px; }
.h785 { height:785px; }
.h790 { height:790px; }
.h795 { height:795px; }
.h800 { height:800px; }

.h805 { height:805px; }
.h810 { height:810px; }
.h815 { height:815px; }
.h820 { height:820px; }
.h825 { height:825px; }
.h830 { height:830px; }
.h835 { height:835px; }
.h840 { height:840px; }
.h845 { height:845px; }
.h850 { height:850px; }
.h855 { height:855px; }
.h860 { height:860px; }
.h865 { height:865px; }
.h870 { height:870px; }
.h875 { height:875px; }
.h880 { height:880px; }
.h885 { height:885px; }
.h890 { height:890px; }
.h895 { height:895px; }
.h900 { height:900px; }

.h905 { height:905px; }
.h910 { height:910px; }
.h915 { height:915px; }
.h920 { height:920px; }
.h925 { height:925px; }
.h930 { height:930px; }
.h935 { height:935px; }
.h940 { height:940px; }
.h945 { height:945px; }
.h950 { height:950px; }
.h955 { height:955px; }
.h960 { height:960px; }
.h965 { height:965px; }
.h970 { height:970px; }
.h975 { height:975px; }
.h980 { height:980px; }
.h985 { height:985px; }
.h990 { height:990px; }
.h995 { height:995px; }
.h1000 { height:1000px; }

.hp10 { height:10%; }
.hp15 { height:15%; }
.hp20 { height:20%; }
.hp25 { height:25%; }
.hp30 { height:30%; }
.hp35 { height:35%; }
.hp40 { height:40%; }
.hp45 { height:45%; }
.hp50 { height:50%; }
.hp55 { height:55%; }
.hp60 { height:60%; }
.hp65 { height:65%; }
.hp70 { height:70%; }
.hp75 { height:75%; }
.hp80 { height:80%; }
.hp85 { height:85%; }
.hp90 { height:90%; }
.hp95 { height:95%; }
.hp100 { height:100%; }


/* margin */

.mgt0 { margin-top:0px; }
.mgt5 { margin-top:5px; }
.mgt10 { margin-top:10px; }
.mgt15 { margin-top:15px; }
.mgt20 { margin-top:20px; }
.mgt30 { margin-top:30px; }
.mgt50 { margin-top:50px; }

.mgb0 { margin-bottom:0px; }
.mgb5 { margin-bottom:5px; }
.mgb10 { margin-bottom:10px; }
.mgb15 { margin-bottom:15px; }
.mgb20 { margin-bottom:20px; }
.mgb40 { margin-bottom:40px; }
.mgb50 { margin-bottom:50px; }
.mgb70 { margin-bottom:70px; }

.mgr5 { margin-right:5px; }
.mgr10 { margin-right:10px; }
.mgr15 { margin-right:15px; }
.mgr20 { margin-right:20px; }
.mgr30 { margin-right:30px; }

/* Opacity */

.opacity95 { -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=95)'; filter:alpha(opacity=95); -moz-opacity:0.95; opacity:0.95; }
.opacity90 { -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=90)'; filter:alpha(opacity=90); -moz-opacity:0.9; opacity:0.9; }
.opacity80 { -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)'; filter:alpha(opacity=80); -moz-opacity:0.8; opacity:0.8; }
.opacity70 { -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)'; filter:alpha(opacity=70); -moz-opacity:0.7; opacity:0.7; }
.opacity60 { -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)'; filter:alpha(opacity=60); -moz-opacity:0.6; opacity:0.6; }
.opacity50 { -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)'; filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5; }
.opacity40 { -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=40)'; filter:alpha(opacity=40); -moz-opacity:0.4; opacity:0.4; }
.opacity30 { -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)'; filter:alpha(opacity=30); -moz-opacity:0.3; opacity:0.3; }
.opacity20 { -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)'; filter:alpha(opacity=20); -moz-opacity:0.2; opacity:0.2; }
.opacity10 { -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=10)'; filter:alpha(opacity=10); -moz-opacity:0.1; opacity:0.1; }


/* text */
.fntBld {font-weight: bold;}

.caution {
	position: relative;
	display: block;
	color: #ee303c;
	font-size: 12px;
	margin-top: 10px;
}

.caution::before {
	content: "*";
	margin-right: 3px;
	font-size: 12px;
}

.caution_txt {
	position: absolute;
}

/* Button Common */
.button,
.button *{ position:relative; margin:0; padding:0; display:inline-block; text-decoration:none !important; border:0; font-size:12px; font-family:Gulim; white-space:nowrap; background:url(button.gif) no-repeat; vertical-align:top; overflow:visible; color:#333;}
.button { margin-right:4px;}
.button *{ left:4px; cursor:pointer; _cursor:hand;}

/* Button Size = medium | large | xLarge | small */
.button, .button *{ height:24px; line-height:24px;}
.button.large, .button.large *{ height:30px; line-height:30px;}
.button.xLarge, .button.xLarge *{ height:36px; line-height:36px;}
.button.small, .button.small *{ height:19px; line-height:19px;}
.button { background-position:left 0;}
.button.large { background-position:left -30px;}
.button.xLarge { background-position:left -65px;}
.button.small { background-position:left -106px;}
.button *{ padding:0 10px 0 6px; font-size:12px; background-position:right top;}
.button.large *{ padding:0 10px 0 6px; font-size:16px; background-position:right -30px;}
.button.xLarge *{ padding:0 10px 0 6px; font-size:20px; background-position:right -65px;}
.button.small *{ padding:0 6px 0 2px; font-size:11px; background-position:right -106px;}

/* Button Hover */
.button *:hover,
.button *:active,
.button *:focus{ color:#690;}

/* Button Strong */
.button.strong *{ font-weight:bold !important;}

/* Button Icon Variation */
.button.icon *{ padding-left:20px;}
.button.small.icon *{ padding-left:16px;}
.button.icon span{ width:20px; margin-right:-20px; padding:0 !important;}
.button .check{ background-position:4px -150px;}
.button.large .check{ background-position:4px -146px;}
.button.xLarge .check{ background-position:5px -144px;}
.button.small .check{ background-position:3px -153px;}
.button .add{ background-position:-16px -150px;}
.button.large .add{ background-position:-14px -146px;}
.button.xLarge .add{ background-position:-14px -144px;}
.button.small .add{ background-position:-18px -153px;}
.button .delete{ background-position:-34px -150px;}
.button.large .delete{ background-position:-34px -146px;}
.button.xLarge .delete{ background-position:-34px -144px;}
.button.small .delete{ background-position:-37px -153px;}
.button .calendar{ background-position:-56px -150px;}
.button.large .calendar{ background-position:-56px -146px;}
.button.xLarge .calendar{ background-position:-56px -144px;}
.button.small .calendar{ background-position:-59px -153px;}
.button .refresh{ background-position:-76px -150px;}
.button.large .refresh{ background-position:-76px -146px;}
.button.xLarge .refresh{ background-position:-76px -144px;}
.button.small .refresh{ background-position:-79px -153px;}
.button .download{ background-position:-96px -151px;}
.button.large .download{ background-position:-96px -147px;}
.button.xLarge .download{ background-position:-96px -145px;}
.button.small .download{ background-position:-99px -154px;}

/* desktop */
@media all and (min-width:769px)
{
	.rep_img [data-img-show=mo] {
		display: none;
	}
}