@charset "UTF-8";
* {
  font-family: "Goyang";
}
.memberUDT{
            float: left;
            font-size: 1.1rem; 
        }
        
.memberUD{
            float: right;
            font-size: 1.1rem; 
        }   

hr {
	margin: 0 auto;
	width: 71%;
	height: 1px;
	font-size: 0;
	border: 0px;
	margin-top : 165px;
}

hr.dash1 {
    border-top:1px dashed black;
}

hr.solid {
	background-color: #231f20;
	margin-right:8%;
}

#mypage-submenu {
            width: 12%;
            text-align: left; 
            margin-left: 15px; 
            margin-top:15px;
            float: left;
         }   

#mypage-submenu ul {
            padding: 0;
        
        }

#mypage-submenu li {
            list-style: none;
            margin: 15px 0;
            font-weight: 500;
            font-size: x-large;
        }

#mypage-submenu a:hover {
            color: #32537e;
        }

#mypage-submenu a {
            color: black;
            text-decoration: none;
         }    

.current {
            color: #376b57 !important;
  }


.top-title{
            font-size: 2.5rem; 
            font-weight: bold; 
            text-align: left; 
            margin: 0 auto; 
        }
        
.top_mypage{
            font-weight: bold; 
        	text-align: center;
        	font-size: 1.5rem;  
        }
        
.top_mypage span{
            float: left;
            text-align: center; 
            margin-left : 9%;
            margin-top : 65px;
            margin-bottom : 15px; 
        }  
        
.top_mypage a{
            float: right;
            text-align: center; 
            margin-right : 9%;
            margin-top : 65px;
            margin-bottom : 15px; 
        }   
        
.close_mypage{
            font-weight: bold; 
            text-align: center; 
            margin: 0 auto; 
            margin-top : 45px;
            font-size: 1.5rem;  
        }
 
         
.close_mypage span{
            float: left;
            text-align: center; 
            margin-left : 22%;
            margin-top : 10px;
        }         
.close_mypage a{
            float: right;
            text-align: center; 
            margin-right :9%;
            margin-top : 10px;
        }       
.selection-cont{
            display:flex;
            justify-content: space-between; 
            width: 70%; 
            margin: 0 auto;
        }

.selections {
            width: 33%; 
            text-align:center;
        }

.selection {
            height: 80%;
            padding: 2rem 2rem;
            text-align: center;  
            border: 2px solid;
        }

.selection-title{ 
            font-size: 2.5rem;   
            margin: 2rem 0;
        }

.selection:hover{border: 6px solid #32537e;}

.link{cursor:pointer;}

.ph h4 {
    font-size: 12px;
    font-weight: bold;
}

.totalCnt {
    font-size: 80px;
    letter-spacing: 3px;
}
.ph div {
    width: 205px;
    margin: 0 auto;
}
.ph span {
    float: left;
    width: 70px;
    padding: 50px 15px 0 15px;
    margin-bottom: 80px;
}
.ph h1 {
    margin-top: 8px;
    font-size: 28px;
    text-decoration: underline;
}
.clearfix {
    width: 80px;
    display:inline-block;
    zoom:1;.display:inline;
}

.ph {
    float: left;
    width: 70px;
    padding: 50px 15px 0 15px;
    margin-bottom: 80px;
}
