@charset "UTF-8";

.top-title{font-family: 'Goyang'; font-size: 3.5rem; font-weight: bold; text-align: center; margin: 2.5rem 0; }
.selection-cont{display:flex; justify-content: space-between; width: 70%; margin: 0 auto;}
.selections {width: 33%; text-align:center;}
.selection {height: 85%;  padding: 2rem 2rem;  text-align: center;  border: 6px solid #FF9900;}
.selection-title{font-family: 'Goyang'; font-size: 2.5rem; font-weight: bold; color: #FF5B00; margin: 2rem 0;}
.pr{font-family: 'Goyang'; font-size: 1.5rem; }
#highlight-txt{font-family: 'Goyang'; font-size: 1.6rem; font-weight: bold; color: #FF9900;}
.signup-btn{font-family: 'Goyang'; padding: 0.5rem; }
.signup-btn-wrapper{min-width: 18rem; padding: 1.2rem; font-size: 1.5rem; color: #fff; font-weight: bold;  border-radius: 6rem;
display: inline-flex;   align-items: center;   justify-content: center;   line-height: 1.5;   padding: 0 0.6rem; text-align: center;
background-image: linear-gradient(90deg,#FF9900,#FF5B00,#FF5B00,#FF9900);
}

.signup-btn-wrapper:hover{background-image: linear-gradient(90deg,#FF5B00,#FF9900,#FF9900,#FF5B00);}
.selection:hover{border: 6px solid #FF5B00;}
.sns-text{font-family: 'Goyang'; font-size: 1.2rem; font-weight: bold; }
.social{margin-top: 2rem; display:flex; flex-direction: column;}
.sns-img-sign{width: 3rem; height: 3rem;} 
.link{cursor:pointer;}
.selection-img{width:4rem; height: 4rem;}