@charset "UTF-8";
@font-face {
   font-family: 'CookieRun-Regular';
}
#mypage-submenu {
            width: 12%;
            text-align: right; 
            margin-left: 15px; 
            margin-top:60px;
            float: left;
         }   

#mypage-submenu ul {
            padding: 0;
        
        }

#mypage-submenu li {
            list-style: none;
            margin: 15px 0;
            font-weight: 500;
            font-size: x-large;
        }

#mypage-submenu a:hover {
            color: #32537e;
        }

#mypage-submenu a {
            color: black;
            text-decoration: none;
         }    

.current {
            color: #376b57 !important;
  }


.top-title{
            font-size: 2.5rem; 
            font-weight: bold; 
            text-align: right; 
            margin: 0 auto; 
        }
        
.top_mypage{
            font-weight: bold; 
            text-align: center; 
            margin: 0 auto; 
            margin-top : 45px;
            font-size: 1.5rem;  
        }
        
.top_mypage span{
            float: left;
            text-align: center; 
            margin-left : 9%;
            margin-top : 50px;
            margin-bottom : 45px; 
        } 
.top_mypage a{
            float: right;
            text-align: center; 
            margin-right : 9%;
            margin-top : 50px;
            margin-bottom : 45px;
            color: black; 
        }   
hr.dash1 {
	margin: 0 auto;
	width: 71%;
	height: 1px;
	font-size: 0;
	border: 0px;
	margin-bottom:20px;
    border-top:1px dashed black;
}

.selection-title{ 
	
           font-size: 1.5rem;
    	   margin: 0 auto;
   		   text-align: center;
   		   float: left;
   		   margin-left: 5.3em;
   		   margin-bottom: 2em;
            
        }
        
.accomodation_item .pet_img {
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 10px;
  max-width: 350px;
  max-height: 400px;
}
.accomodation_item .pet_img .theme_btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  padding: 5px 25px;
  max-width: 60px;
}

.accomodation_item .pet_img:hover img {
  -webkit-transform: scale(1.19);
  -ms-transform: scale(1.19);
  transform: scale(1.19);
}

.accomodation_item h5 {
  font-size: 24px;
  line-height: 28px;
  color: #52c5fd;
  font-weight: 600;
}

.accomodation_item h5 small {
  font-weight: 300;
  font-size: 14px;
}

.sec_h4 {
  font-size: 18px;
  line-height: 38px;
  font-weight: 600;
  color: #222222;
  margin-bottom: 0px;
}

.accomodation_two {
  margin-bottom: -40px;
}

.accomodation_two .accomodation_item {
  margin-bottom: 45px;
}

.theme_btn {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  background: #f3c300;
  padding: 5px 30px;
}

.theme_btn {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  background: #f3c300;
  padding: 5px 30px;
}

.theme_btn:before {
  background: #f8b100;
}

.theme_btn:hover {
  color: #fff;
}