/*ìž‘ì—…ìž eCommerceíŒ€ ì‹¬ë¯¼ì•„ ver0.0 - ìµœì¢… ìž‘ì—…ì¼ 2020. 5ì›” 14ì¼*/
/*
   ìƒˆë¡­ê²Œ ìž‘ì—…ë˜ëŠ” íŒì—… ê³µí†µ ìŠ¤íƒ€ì¼ cssìž…ë‹ˆë‹¤.
    ê³µí†µì€ ì°¨í›„ í†µí•©ë  ì˜ˆì •ì´ë©°
    í•˜ë‹¨ ê° ì‚¬ì´íŠ¸ ê³ ìœ  í´ëž˜ìŠ¤ì— ë”°ë¼ ê° ìŠ¤íƒ€ì¼ì„ ì§€ì •í•©ë‹ˆë‹¤.
*/

@media screen and (min-width: 901px) {
.popupBox.bgYllw .popUpCntnts{overflow-y: scroll;max-height: calc(100% - 40px);height: auto;}
.popUpCntnts.inScllPrntBx .yScllBx.inScllBxmddl.ftrh179px{overflow: hidden;height: auto;}
.inScllBxftr.h179px{height: auto;padding: 0 0 40px 0;}
}
.mblVw{display: none;}
.popOpnNoScllbody{overflow: hidden;}
/*ê³µí†µ*/
/* íŒì—… ë…¸ì¶œ í´ëž˜ìŠ¤ */
  .openPop{display:block !important;}/* ê¸°ë³¸ ì˜¤í”ˆ í´ëž˜ìŠ¤ ëª¨ë“  íŒì—… í´ëž˜ìŠ¤ì—ì„œ openPopì˜ ìœ ë¬´ì— ë”°ë¼ ë…¸ì¶œ, ìˆ¨ê¹€ ì²˜ë¦¬í•©ë‹ˆë‹¤. (5ì›”14ì¼ ê¸°ì¤€ ì‹¬ë¯¼ì•„ê°€ ìž‘ì—…í•œ íŒì—…-css ê¸°ì¤€)*/
  .openPop.dsplInFlx{display: inline-flex !important;}/* ê¸°ë³¸ ì˜¤í”ˆ í´ëž˜ìŠ¤ì—ì„œ ìŠ¤íƒ€ì¼ì— ë”°ë¼ ë³€í˜•ëœ ì†ì„±ì„ ë¶€ì—¬í•˜ëŠ” í´ëž˜ìŠ¤ */
  .pstAllCnter.dsplInFlx{align-items: center;justify-content: center;}/* ê¸°ë³¸ ì˜¤í”ˆ í´ëž˜ìŠ¤ì—ì„œ ìŠ¤íƒ€ì¼ì— ë”°ë¼ ë³€í˜•ëœ ì†ì„±ì„ ë¶€ì—¬í•˜ëŠ” í´ëž˜ìŠ¤ */
  /*íŒì—… ë‹«ìŒ ë²„íŠ¼*/
.closePop{/*ê¸°ë³¸ íŒì—… ë‹«íž˜ ë²„íŠ¼- .popupBoxì˜ ë°”ë¡œ ì•„ëž˜ ìžì‹ìžë¡œ ë„£ì–´ì£¼ë©´ íŒì—…ë°•ìŠ¤ ë‹«íž˜ ì´ë²¤íŠ¸ê°€ ê³µí†µ ì ìš©ë©ë‹ˆë‹¤.*/}
	.closePop.abTpRght{position: absolute;top:0px; right:0px;}

	.closePop.closeBtn {width: 25px; height: 25px; border:none; background-image: url("/img/common/btn_close.png"); background-color: #ffffff; background-repeat: no-repeat;}
	.closePop.mgt_mgr25 {position: absolute;top:25px; right:25px;}

	.icnClsWht::before {content: ''; background-image: url("/img/btn/close_white.svg");}

/*íŒì—…ë°•ìŠ¤ ìŠ¤íƒ€ì¼*/
/*ê¸°ë³¸ íŒì—… í´ëž˜ìŠ¤ëª…-íŒì—… ë°•ìŠ¤ì—ëŠ” í•„ìˆ˜ë¡œ ë„£ì–´ì¤ë‹ˆë‹¤.*/
.popupBox{z-index: 999;}
/*íŒì—…ì´ ì „ì²´ íŽ˜ì´ì§€ì‚¬ì´ì¦ˆì¼ê²½ìš°*/
.popbgOpctBlck{position:fixed;display: none;top:0px;left: 0px;width: 100%;height: 100%;background:rgba(0,0,0,0.7);}
   /*ë°°ê²½ìƒ‰ì´ ìžˆì„ê²½ìš° ë°°ê²½í´ë¦­ì‹œ ë‹«íž˜*/
  .popbgOpctBlck .closeBckGrndBtn{position: absolute;top:0px;left: 0px;width: 100%;height: 100%;background:transparent;z-index: 1;}

/*ê³ ì • ì‚¬ì´ì¦ˆ */
	.popUpCntnts{position: relative;display: inline-block;text-align: center;float: left;width:100%;z-index: 800;height: auto;max-height: calc(100% - 40px);box-sizing: border-box;background-color: #ffffff;}
	.popUpCntnts.lrgBx{max-width: 1280px;}
    .popUpCntnts.mddlBx{max-width: 800px;}
    .popUpCntnts.w620px{max-width: 620px;}
    .popUpCntnts.smllBx{max-width: 500px;}
    .popUpCntnts.p_w350 {width: 350px;}

    .popUpCntnts.pd4030px {padding: 40px 30px;}
    .popupBox.bgWht .popUpCntnts{background: #fff;}
    .popupBox.bgYllw .popUpCntnts{background: #fdfcf7;}
      .popUpCntnts .closePop.abTpRght{top:15px; right:15px;margin: 0;}
      .popUpCntnts .closePop.fltRght{float: right;margin: 20px 20px 0 0;}
    .popUpCntnts .contentTxtBx, .popUpCntnts .contentBx{display: inline-block;float: left;width: auto;margin: 15px 0;}



/*ì„¸ë¡œ ìŠ¤í¬ë¡¤ - í•©ê»˜ ì“°ì´ëŠ” íŒì—… ì‚¬ì´ì¦ˆì—ë”°ë¼  ìŠ¤í¬ë¡¤ì´ ìƒê¸°ê²Œ í•©ë‹ˆë‹¤.*/
.popUpCntnts.yScllBx{padding: 35px 20px 25px 20px;overflow-y: auto;}
.popUpCntnts.yScllBx .closePop{position: fixed;position: fixed;top: 15px;right: 15px;font-size: 25px;color: #fff;}

.popUpCntnts.inScllPrntBx{position:relative;width: 100%;height:100%;}
.popUpCntnts.inScllPrntBx .yScllBx{overflow-y: auto;}
.inScllBxTop,.inScllBxftr{display: inline-block;float: left;background:#fff;}
.inScllBxTop{width:100%;height:30px; }/*ê¸°ë³¸ ê°’*/
.inScllBxftr{width:100%;height:100px; }/*ê¸°ë³¸ ê°’*/
.inScllBxftr.h179px{height:auto;padding: 0 0 40px 0;}/*ê¸°ë³¸ ê°’*/
.popupBox.pllVwMbl .inScllBxTop{position: absolute;top:0px;left: 0px;}
.popupBox.bgYllw .inScllBxTop,.popupBox.bgYllw .inScllBxftr{background: transparent;}

  .popUpCntnts.inScllPrntBx .yScllBx.inScllBxmddl{width: 100%;height: calc(100% - 130px);margin: 0;}
  .popUpCntnts.inScllPrntBx .yScllBx.inScllBxmddl.ftrh179px{height: calc(100% - 179px);}

.popUpCntnts .img{display: inline-block;float: left;width: 100%;}
   .popUpCntnts .img img{display:block;width: 100%;height: auto;}
/* ì¤‘ì•™ ë°°ì¹˜ í”„ë¦¬ ìŠ¤íƒ€ì¼ - ìž­ì—…ì¤‘ */
   .cntrFrBnnr{position:fixed;width: 100%;height: 100%;background:#fff;box-sizing: border-box;}


   .btnPstnCntr{display: inline-flex;align-items: center;flex-direction: column;width: 100%;margin: 0;text-align: center;}
   .btnPstnCntr .chck + label{margin: 25px 0 30px 0;}

   .popUpCntnts .dtl_btn {display: inline-flex;width: 240px;height: 50px;justify-content: center;align-items: center;background-color: #000000;font-family: NotoSansCJKkr;font-size: 15px;font-weight: bold;color: #ffffff;}


   /*ë°•ìŠ¤ì•ˆ ë‹«ê¸°ë²„íŠ¼ ì‚¬ì´ì¦ˆ*/
   .popUpCntnts .btn.icnCloseX{position: absolute;top: 15px;right: 15px;font-size: 25px;color: #000;}

	.nverOffBtn{display: none;}
     .popUpCntnts .ftrBtnbx{position: absolute;bottom: -58px;right: 0px;line-height: 38px;border: 0;font-size: 15px;}
     .popUpCntnts .nverOffBtn.txtWhtBtn + label{display: inline-block;float: left;margin: 0 4px 0 0;line-height: 38px;font-weight: bold;color: #fff;}
     .popUpCntnts .icnClsWht{width: 38px;height: 38px;}
     .popUpCntnts .icnClsWht::before{display: block; width: 38px;height: 38px;background-size: contain;}

  /*í•˜ë‹¨ ê³ ì • ë°°ë„ˆë°” ìŠ¤íƒ€ì¼*/
.ftrBnnrbar{position:fixed;display: none;bottom: 0;left: 0;width: 100%;padding:10px 40px;box-sizing: border-box;}
.ftrBnnrbar .iconXBtn{position: absolute;top:calc(50% - 13px); left:-10px;width: 26px;height: 26px;font-size: 20px;line-height: 26px;text-align: center;}

.popImgOny{position: relative;display:contents;float: left; }
.popImgOny img{display: block;width: 100%;height: auto;opacity: 0;}
.popImgOny.sz600wdth::before{content: '';position: absolute;top:0px;left: 0px;width: 100%;height: 100%;margin: -22px 0 0 0;background-repeat: no-repeat;background-position: center;background-size: contain;}
figure.popImgOny{margin: 0;}
figure.popImgOny figcaption{height: 0;overflow: hidden;}
.popImgOnyBx .closePop{position: absolute;top: 10px;right: 10px;width: 30px;height: 30px;font-size: 28px;text-align: center;line-height: 30px;z-index: 900;font-family: 'Malgun Gothic';}
.popImgOnyBx .btnPstnCntr{display: inline-block;float: left;width: 100%;margin: 2px 0 0 0;padding: 10px 20px;font-size: 14px;
    line-height: 22px;box-sizing: border-box;border-radius: 20px;}
  .popImgOnyBx .btnPstnCntr .closePop.txtBtn{position:relative;float: right;top: auto;right: auto;width: auto;height: auto;font-size: 15px;line-height: 22px;color: #fff}
  .popImgOnyBx .btnPstnCntr .chck + label{color: #fff;}

/*íŒì—… íƒ€ì´í‹€ */
   .popTtl{display: inline-block; width: 100%; text-align: center; font-family: NotoSansCJKkr; font-size: 18px; font-weight: bold; color: #333333; line-height: 27px;}
   .popTtlInfTxt{display: inline-block;float: left;width: 100%;margin: 10px 0 0 0;padding: 0;font-size: 15px;font-weight: normal;word-break: keep-all;box-sizing: border-box;}
   .popTtl .pntTxt{font-size: 16px;color:#c80a1e;vertical-align: top;}
   .popTtl .smllTxt{font-size: 16px;vertical-align: top;}



/*ê°œë³„*/
.dfBx{display: inline-block;float: left;}
.btn{outline: 0;background: transparent;border: 0;}
.btn.icnXcls{width: 32px;height: 32px;background-image: url('/img/btn/btn_close2.svg');background-repeat: no-repeat;background-position: center;}
.popWidBtn{display: block;width: 240px;height: 50px;line-height: 50px;font-size: 14px;font-weight: bold;letter-spacing: -0.14px;border-radius: 1px;border: solid 1px #231f20;box-sizing: border-box;transition: 0.3s;}
   .popWidBtn:hover{color: #fff;background-color: #231f20;}

.chck{display: none;}
.chck + label{position: relative;display: inline-block;width: 18px;height: 18px;}
  .chck + label::before{content: '';position: absolute;top:0px;left: 0px;width: 18px;height: 18px;border: solid 1px #707070;box-sizing: border-box;}
  .chck:checked + label::before{background: #707070 url('/img/btn/icnChck.svg')no-repeat center;}
.chck.rghtLbl + label{float: left;width:auto;height:auto;padding: 0 0 0 30px;font-size: 16px;line-height: 24px;letter-spacing: -0.48px;color: #231f20;}
  .chck.rghtLbl + label::before{top:3px;}

label:hover {cursor: pointer;}


/* ê²€ì • ìŠ¤í¬ë¡¤ë°” */
/* width */
.scrllBlck{scrollbar-color: rgba(171, 154, 109,0.6) rgba(255, 255, 255,0);scrollbar-width: thin;}
.scrllBlck::-webkit-scrollbar {width: 5px; }
/* Track */
.scrllBlck::-webkit-scrollbar-track {background:transparent;}
/* Handle */
.scrllBlck::-webkit-scrollbar-thumb {background:rgba(171, 154, 109,0.6);-webkit-border-radius: 1px; border-radius:1px;}
/* Handle on hover */
.scrllBlck::-webkit-scrollbar-thumb:hover {background:rgba(125, 111, 74,0.7);-webkit-border-radius: 1px; border-radius:1px;}


@media screen and (min-width: 180px) and (max-width: 900px) {
  .mblVw{display: block;}
.pllVwMbl .popUpCntnts{width: 100%;max-width: 100%;max-height:100%;}
.popTtl{margin: 25px 0 0 0;font-size: 18px;}
.popTtl .pntTxt{font-size: 14px !important;}

.popUpCntnts.m_w300 {width: 300px;}

.popImgOnyBx{margin: 0 20px !important;}
.popImgOnyBx .closePop{top: 0px;right: 5px;width: 25px;height:25px;font-size: 24px;line-height: 25px;}
.popImgOnyBx .btnPstnCntr{font-size: 12px;padding: 5px 15px;}
.popImgOnyBx .btnPstnCntr .closePop.txtBtn{font-size: 12px;}

.ftrBnnrbar{padding: 20px 16px;}
.ftrBnnrbar .iconXBtn{left: initial;right: -10px;margin: 0 !important;top: -15px;}
.popUpCntnts{display: inline-block;margin: 0;}
.popUpCntnts .contentTxtBx, .popUpCntnts .contentBx{    width: 100%;}
.btnPstnCntr{display: inline-flex;align-items: center;justify-content: center;width: 100%;margin: 0;text-align: center;}
.popUpCntnts.inScllPrntBx .yScllBx.inScllBxmddl.ftrh179px{height: calc(100% - 130px);}
.inScllBxftr.h179px{position: relative;height: 130px;}
.inScllBxftr.h179px .chck + label{margin: 16px 0;font-size: 13px;}
.inScllBxftr.h179px::after{content: '';position: absolute;top:0px;left: 0px;width:100%;height:69px;background: #f3f3f3;z-index: -1;}

.chck + label{width: 20px;height: 20px;}
  .chck + label::before{width: 20px;height: 20px;}
.chck.rghtLbl + label{padding: 0 0 0 40px;font-size: 13px;line-height: 18px;letter-spacing: -0.39px;text-align: left;color: #000;}
  .chck.rghtLbl + label::before{top:calc(50% - 10px);}
.popWidBtn{width: 100%;height: 61px;font-size: 15px;line-height: 61px;color: #fff;background-color: #231f20;}

.scrllBlck::-webkit-scrollbar {width: 3px; }
/* Handle */
.scrllBlck::-webkit-scrollbar-thumb {background:rgba(171, 154, 109,0.6);}
/* Handle on hover */
.scrllBlck::-webkit-scrollbar-thumb:hover {background:rgba(125, 111, 74,0.7);}
}

