@charset 'UTF-8';
/* Slider */
@media all and (min-width:769px) {
.slick-loading .slick-list
{
    /* background: #fff url('./ajax-loader.gif') center center no-repeat; */
}

/* Icons */
/*
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
*/
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 10px;
    height: 10px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: 'â†';
}
[dir='rtl'] .slick-prev:before
{
    content: 'â†’';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: 'â†’';
}
[dir='rtl'] .slick-next:before
{
    content: 'â†';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots {
	position: relative;
	bottom: 65px;
	list-style: none;
	min-width: 1200px;
	/* max-width: 1600px; */
	width: 100%;
	text-align: center;
	box-sizing: border-box;
}

.slick-dots li
{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 2px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 8px;
    height: 8px;
    padding: 0px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;


}

[data-store-slide-dot-block] {
	height: 10px;
}

[data-store-slide-dot-block] .slick-dots {
	bottom: 6px;
	padding: 0 47%;
}

[data-store-slide-dot-block] .slick-dots li button {
	background: #c7c7c7;
}

.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;

}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
	width: 14px;
    height: 14px;

    opacity: 1;
    background-image:url('/img/common/img_on.png');

}
.slick-dots li button:before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 12px;
    height: 12px;

    content: '';

    opacity: 1;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-image:url('/img/common/img_off.png');
}
.slick-dots li.slick-active button:before
{

    color: black;

    width: 14px;
    height: 14px;

    background-image:url('/img/common/img_on.png');
}

}

@media all and (max-width:768px) {
	.slick-dots {
		text-align: center;
		position: absolute;
	    bottom: 30px;
	    left: 0;
	    z-index: 100;
	    width: 100%;
	}
	.slick-dots li {
		display: inline;
		padding: 0 7.5px;
	}
	.slick-dots li button
	{
	    font-size: 0;
	    line-height: 0;

	    width: 8px;
	    height: 8px;
	    padding: 0px;

	    cursor: pointer;

	    color: transparent;
	    border: 0;
	    outline: none;
	    background: transparent;
	}

	[data-store-slide-dot-block] {
		position:relative;
		height:10px;
		margin-top:30px;
	}

	[data-store-slide-dot-block] .slick-dots {
		bottom: 0px;
		padding: 0px;
	}

	[data-store-slide-dot-block] .slick-dots li button {
		background: #c7c7c7;
	}

	.slick-dots li button:hover,
	.slick-dots li button:focus
	{
	    outline: none;

	}
	.slick-dots li button:hover:before,
	.slick-dots li button:focus:before
	{
		width: 14px;
	    height: 14px;

	    opacity: 1;
	    background-image:url('/img/common/img_on.png');

	}
	.slick-dots li button:before
	{
	    position: absolute;
	    top: 0;
	    left: 0;

	    width: 12px;
	    height: 12px;

	    content: '';

	    opacity: 1;
	    color: black;

	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;

	    background-image:url('/img/common/img_off.png');
	}
	.slick-dots li.slick-active button:before
	{

	    color: black;

	    width: 14px;
	    height: 14px;

	    background-image:url('/img/common/img_on.png');
	}

}